body {
    /* background-color: #161821; */
    color: #ccc;
    margin: 0;
    line-height: 4vh;

    box-sizing: border-box;

    -epub-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    font-size: 2.5vh;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "GenEi Chikugo Mincho v3", "Hiragino Mincho Pro", "游明朝", "YuMincho", serif;

    overflow-y:hidden;
    background-attachment:local;

    overflow-x:scroll;

    text-rendering:optimizeSpeed;
    hanging-punctuation: allow-end;
    line-break: strict;
}
p.honbun {
    margin:0;
    background-image: repeating-linear-gradient(to left, #333, #333 1px, transparent 1px, transparent 4vh);
}

ruby > rt {
    font-size: 0.5em;
}

span#cursor {
    background-color: rgb(197, 197, 197);
    animation-duration: 1s;
    animation-name: cursorAnimation;
    animation-iteration-count: infinite;
}
@keyframes cursorAnimation {
    from {
        background-color: rgba(66,66,66,0);
    }

    to {
        background-color: rgba(125,125,125,0.7);
    }
}
