html{
    background-color: #161821;
    color: #ccc;
}
div#preview {
    -epub-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation:upright;

    font-size: 2.5vh;
    width: 100%;
    height: 98%;
    margin: 0.5% 0 0.5%;
    font-family: "Hiragino Mincho Pro", "游明朝", "YuMincho", serif;

    background-image: repeating-linear-gradient( to left, #333, #333 1px, transparent 1px, transparent 3.75vh);
    overflow-y:hidden;   /* これは見た目的には横 */
    background-attachment:local;

    overflow-x:visible;   /* これは見た目的には縦 */
}
p.honbun {
    margin:0;
}

span#cursor {
    background-color: rgb(197, 197, 197);
    animation-duration: 0.5s;
    animation-name: cursorAnimation;
    animation-iteration-count: infinite;
}
@keyframes cursorAnimation {
    from {
        background-color: rgba(66,66,66,0);
    }

    to {
        background-color: rgba(125,125,125,0.7);
    }
}
